.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 20px 20px 20px;
  background-color: $base-white;
  border-radius: 4px;
}

.card__link-photo {
  display: block;
  align-self: center;
  margin-bottom: 19px;
  text-decoration: none;
}

.card__link-title {
  margin-left: -2px;
  text-decoration: none;
}

.card__title {
  color: $base-black;
  margin: 0 0 4px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.card__description {
  margin: 0 0 16px 0;
}

.card__break {
  &--1 {
    display: none;
  }
}

.card__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__price {
  margin-left: -3px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

@media (min-width: $tablet-width) {
  .card {
    padding: 50px 30px 30px 30px;
  }

  .card__link-photo {
    margin-bottom: 26px;
  }

  .card__title {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 36px;
  }

  .card__description {
    margin: 0 0 19px;
  }

  .card__break {
    &--1 {
      display: inline;
    }
  }
}
