.pagination__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include reset-list;
}

.pagination__item {
  border-radius: 4px;
  background-color: $base-white;

  &--current {
    background-color: $lightest-grey;
  }

  &:hover,
  :focus {
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $light-grey;
  }
}

.pagination__item:hover .pagination__link {
  color: $base-white;
}

.pagination__item:active .pagination__link {
  background-color: $primary-darker;
  color: $base-white;
}

.pagination__item:disabled .pagination__link {
  background-color: $light-grey;
  color: $base-white;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-width: 39px;
  min-height: 40px;
  color: $base-primary;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;

  &--arrow-left {
    background: url("/img/main-page/arrow-left.svg") no-repeat center;
  }

  &--arrow-right {
    background: url("/img/main-page/arrow-left.svg") no-repeat center;
    transform: rotate(180deg);
  }
}

.pagination__link-signature {
  display: none;
}

.pagination__item--current .pagination__link {
  color: $base-black;
  font-weight: 600;
}

@media (min-width: $tablet-width) {
  .pagination__list {
    justify-content: end;
  }

  .pagination__link-signature {
    display: inline;
  }

  .pagination__link {
    min-width: 40px;

    &--arrow-left {
      padding-left: 20px;
      padding-right: 20px;
      background: none;
    }

    &--arrow-right {
      padding-left: 20px;
      padding-right: 20px;
      background: none;
      transform: rotate(0);
    }
  }
}
