.product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    grid-template-columns: 1fr 1fr 1fr;
    align-content: start;
  }
}
