.container-full {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .container-full {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container-full {
    width: 100%;
  }
}
