@mixin container-global {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
