.footer-link {
  display: block;
  color: $base-black;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  padding: 8px 0;
  text-decoration: none;

  &:hover,
  :focus {
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}
